.tokenHeader {
  align-items: center;
  gap: 12px;
  margin-bottom: 50px;
  display: flex;
}

.tokenIconContainer {
  position: relative;
  display: inline-block;
}

.tokenIcon {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  object-fit: cover;
}

.swapButton {
  position: absolute !important;
  top: -8px !important;
  right: -8px !important;
  background-color: #000000 !important;
  padding: 4px !important;
}

.swapButton:hover {
  background-color: #1a1a1a !important;
}

.tokenInfo {
  flex-direction: column;
  gap: 4px;
  display: flex;
}

.tokenName {
  color: #fff;
  font-family: IBM Plex Mono, monospace;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.tokenPrice {
  color: #fff;
  font-family: IBM Plex Mono, monospace;
  font-size: 28px;
  margin: 0;
}

.navTabs {
  border-bottom: 1px solid #ffffff1a;
  gap: 16px;
  display: flex;
}

.tab {
  color: #616e85;
  text-align: center;
  padding: 0 16px;
  /* padding-top: 15px; */
  padding-bottom: 12px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  background: none;
  border: none;
  cursor: pointer;
}

.tabactive {
  color: #fff;
  border-bottom: 2px solid #3861FB;
}

.tabIndicator {
  background-color: #3861fb;
  width: 110px;
  height: 2px;
  margin-top: -2px;
}

.statsGrid {
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-bottom: 35px;
  display: grid;
}

.chartGrid {
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  display: grid;
}

@media (width <= 991px) {
  .header {
    padding: 20px;
  }

  .navLinks {
    display: none;
  }

  .statsGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .chartGrid {
    grid-template-columns: 1fr;
  }
}

@media (width <= 640px) {
  .headerContent {
    flex-direction: column;
    gap: 15px;
  }

  .searchBar {
    max-width: 100%;
  }

  .tokenHeader {
    text-align: center;
    flex-direction: column;
  }

  .statsGrid {
    grid-template-columns: 1fr;
  }
}
